<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout.html}"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="main-content">
    <!--NOI DUNG O DAY-->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Product List</h3>
        </div>
        <!--<img src="@{1618812857992bangioc2-2c842.jpg}" alt="Cinque Terre">-->
        <div class="wrapper">
            <div class="preview">

                <button class="item" th:each="item:${pageResult.getList()}">
                    <img th:each="image:${listImage}" th:if="${item.getImage_id()} == ${image.getId()}"
                         th:src="@{'/uploads/' + ${image.getPath()}}" alt="Cinque Terre" width="100%" height="40%" />
                    <!--adminlte/dist/img/avatar.png-->
                    <form>
                        Product Name: <span th:text="${item.getName()}"></span>
                    </form>
                    <form>
                        Price: <span th:text="${item.getPrice()}"></span><span> đ</span>
                    </form>
                    <form>
                        Discount Price: <span th:text="${item.getDiscount_price()}"></span><span> đ</span>
                    </form>
                    <form>
                        Description:
                        <div th:text="${item.getDescription()}"></div>
                    </form>

                    <form th:each="attribute:${listAttribute}">
                        <span th:text="${attribute.getName()}"></span><span>: </span>
                        <span>
                            <select name="select" id="selects">
                                <option value="no_select">No Select</option>
                                <span th:each="attributeValue:${listValue}">
                                    <span th:if="${attributeValue.getAttribute_id()} == ${attribute.getId()}">
                                        <option th:text="${attributeValue.getValue()}"></option>
                                    </span>
                                </span>
                            </select>
                        </span>
                    </form>

                    <div>
                        <br/>
                        <a th:href="@{/user/cart/add(id=${item.getId()})}" class="btn btn-block btn-success" style="width: 80%; margin: 20px; height: 30px">Add To Cart</a>
                    </div>
                </button>
            </div>
        </div>
        <div class="card-footer clearfix">
            <ul class="pagination pagination-sm m-0 float-right">
                <li
                        th:each="pageNumber:${#numbers.sequence(1, pageResult.getTotalPage())}"
                        th:attr="class=${pageResult.getActivePage()==pageNumber ? 'active page-item' : 'page-item'}"
                        th:if="${pageNumber>0}">
                    <a class="page-link" th:href="@{/user/product(page=${pageNumber})}"
                       th:text="${pageNumber}"
                    ></a>
                </li>
            </ul>
        </div>
    </div>

    <style>
        .wrapper{
            width:100%;
            border:1px solid white;
            margin: auto;
        }

        .wrapper > .preview{
            border:1px solid white;
        }

        .wrapper > .preview > .item{
            width:23%;
            border:1px solid white;
            height: 500px;
            float:left;
            margin-left: 15px;
            position: relative;
            margin-top: 10px;
        }

        .wrapper > .preview > .item > img{
            width:100%;
        }
    </style>
</div>
</body>
</html>